extends layout

block content
  - let create = `dispatch(\"/icecream/create\")`
  button.btn(class="btn-primary m1-1", onclick=create) Create
  h1= title
  p Welcome to the icecream pug
  div(class="container-fluid")
        div(class="row")
            -
                let icecream = results
  div(class="container-fluid") 
    div(class="row") 
      each item in icecream 
        - let destination = `dispatch(\"/icecream/update?id=${item._id}\")`
        - let detail=`dispatch(\"/icecream/detail/?id=${item._id}\")`
        - let del=`dispatch(\"/icecream/delete/?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.brand}(#{item.material}) is #{item.cost}
            button.btn(class="btn-primary ml-1", onclick= destination) Update 
            button.btn( class="btn-dark ml-2", onclick=detail ) Get Detail
            button.btn( class="btn-warning ml-2", onclick=del ) Delete 

        script.                
            function buy(itemNo)
            {
                  alert(`you purchased Item ${itemNo+1}`)
            }
        script. 
             function dispatch(path)
            { 
                 window.location.href=path 
            } 